<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/bookstore?useUnicode=true&amp;createDatabaseIfNotExist=true&amp;characterEncoding=utf-8</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">0204</property>
        <property name="hibernate.show_sql">true</property>
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <property name="hibernate.connection.CharSet">utf8</property>
        <property name="hibernate.connection.characterEncoding">utf8</property>
        <property name="hibernate.connection.useUnicode">true</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>
        <!-- Disable the second-level cache -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCachingRegionFactory</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="hibernate.allow_update_outside_transaction">true</property>

        <!-- Entities Mapping-->
        <mapping class="com.bookstore.entity.CartItem" />
        <mapping class="com.bookstore.entity.Category" />
        <mapping class="com.bookstore.entity.Delivery" />
        <mapping class="com.bookstore.entity.Order" />
        <mapping class="com.bookstore.entity.OrderItem" />
        <mapping class="com.bookstore.entity.PayMethod" />
        <mapping class="com.bookstore.entity.User" />
        <mapping class="com.bookstore.entity.Product" />
    </session-factory>
</hibernate-configuration>